@model GrupoADyD.ViewModels.SaleViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-striped table-responsive table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>PV</th> @* no write *@
                <th>BV</th>@* no write *@
                <th>Costo</th>@* no write *@
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>asdf</td>
                <td>qwet</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>urew</td>
                <td>vbcj</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>asdf</td>
                <td>qwet</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" align="right">Total</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
            </tr>
        </tfoot>
    </table>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}